.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0px 0px;
    padding: 0px;
}

.footer-line {
    margin: 5px 0px;
}