.settings-container {
    border-radius: 4px;
    border: 1px solid #bbb;
    padding: 25px;
}

#settings-title {
    text-align: center;
    border: 1px solid #bbb;
    border-radius: 4px;
    padding: 5px;
    margin: 0px;
}

.settings-container h3,
.settings-container h4,
.settings-container h5,
.settings-container h6 {
    text-align: center;
    font-size: 150%;
}

#sliders-container {
    width: 25%;
    border: 1px solid #bbb;
    border-radius: 4px;
    padding: 15px;
    align-content: center;
    align-items: center;
}

#font-container {
    width: 25%;
    border: 1px solid #bbb;
    border-radius: 4px;
    padding: 15px;
    align-content: center;
    align-items: center;
}

#alignment-container {
    width: 25%;
    border: 1px solid #bbb;
    border-radius: 4px;
    padding: 15px;
    align-content: center;
    align-items: center;
}

#colors-container {
    width: 25%;
    border: 1px solid #bbb;
    border-radius: 4px;
    padding: 15px;
    align-content: center;
    align-items: center;
}

#sliders-container,
#colors-container,
#alignment-container,
#colors-container {
    display: block;
}