html,
body {
    font-family: "Roboto-Regular", Helvetica;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "RobotoSlab-Bold", Helvetica;
}

p {
    font-family: "Roboto-Regular", Helvetica;
}

small,
sup,
sub {
    font-family: "Roboto-Light", Helvetica;
}