.settings-container {
    border: 1px solid #bbb;
    border-radius: 4px;
    padding: 0px;
    margin: 0px;
}

#settings-title {
    text-align: center;
    border-bottom: #bbb 1px solid;
    padding: 0px;
    margin: 0px;
}

.settings-container h3,
.settings-container h4,
.settings-container h5,
.settings-container h6 {
    text-align: center;
    font-size: 125%;
}

#settings-containers {
    display: flex;
    margin: 0px;
    padding: 0px;
}