#alignment-container {
    text-align: center;
    width: 20%;
    //border: 1px solid #bbb;
    //border-radius: 4px;
}

#alignment-horizontal {
    padding: 5px;
    margin: 0px;
}

#alignment-vertical {
    padding: 5px;
    margin: 0px;
}
