.fab {
    display: inline-flex;
    position: fixed;
    align-items: center;
    overflow: hidden;
    bottom: 45px;
    right: 45px;
    z-index: 99999;
    background-color: rgba(13, 17, 23, 0.791);
    border: none;
    color: #c9d1d9;
    margin: 0px;
    padding: 30px 0px;
    border-radius: 4px;
}

#fab-link {
    display: inline-flex;
    color: #c9d1d9;
    text-align: center;
    text-decoration: none;
    align-items: center;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}

#fab-star {
    display: flex;
    align-items: center;
    font-size: 35px;
    margin: 0px 10px;
    padding: 0px;
    color: #c9d1d9;
}

#fab-text {
    display: none;
    font-weight: bold;
    font-size: 25px;
    margin: 0px;
    margin-right: 10px;
    margin-left: 0px;
    padding: 0px;
}

#fab:hover #fab-text {
    display: flex;
}

#fab:not(:hover) #fab-text {
    display: flex;
}

@keyframes fabOpen {
    0% {
        width: 60px;
    }

    100% {
        width: 300px;
    }
}

@keyframes fabClose {
    0% {
        width: 300px;
    }

    100% {
        width: 60px;
    }
}

@keyframes fabStarSpinOpen {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fabStarSpinClose {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

#fab:hover {
    animation: fabOpen 500ms ease-out forwards;
}

#fab:not(:hover) {
    animation: fabClose 500ms ease-out forwards;
}

#fab:hover #fab-star {
    animation: fabStarSpinOpen 750ms;
}

#fab:not(:hover) #fab-star {
    animation: fabStarSpinClose 750ms;
}
