.upload-export-table-container {
    margin-top: 25px;
    padding: 0px;
}

.upload-export-container {
    display: flex;
    justify-content: center;
}

.table {
    margin-top: 25px;
    padding: 0px;
}