.navbar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 15px 0px;
    padding: 0px;
    a {
        color: #555;
    }
}

.nav-items {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

.nav-item {
    margin: 0px;
    padding: 0px;
    align-items: center;
    justify-content: center;
}

#dropdown-icon {
    margin: 0px;
    padding: 0px 0px 0px 10px;
    font-size: 1.5rem;
}

.checklists-nav {
    display: flex;
    align-items: center;
}